/*
//////////////////
// Main content //
//////////////////
*/

/*
Default text color
and background color
*/
.md-main {
  color: rgba(255, 254, 254, 0.801) !important;
  background-color: #212121 !important;
}

/*
Main headlines
*/
.md-main h1 {
  color: white !important;
}
.md-typeset h2 {
	color: rgb(255, 255, 255);
    margin: 2rem 0 .8rem;
    font-size: 1.25rem;
    line-height: 1.4;
}
h3 {
	color: rgb(255, 255, 255);
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.md-typeset h4, .md-typeset h5, .md-typeset h6 {
	color: rgb(255, 255, 255);
    margin: .8rem 0;
    font-weight: 700;
    letter-spacing: -.01em;
}
.md-typeset h5, .md-typeset h6 {
    color: rgb(255, 255, 255);
    font-size: .64rem;
}
.md-hero {
    transition: background .25s;
    background-color: #1b1b1b;
    color: #fff;
    font-size: 1rem;
    overflow: hidden;
}

/*
Tables
*/
table {
  background-color: #616161 !important;
}

tbody {
  background-color: #484848 !important;
}

/*
////////////////////
// Navigation bar //
////////////////////
*/

/*
Left and right toc scrollbar
*/
.md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}

.md-nav__link[data-md-state=blur] {
    color: rgba(255, 255, 255, 0.54);
}

.md-nav {
  color: #F5F5F5 !important;
  background-color: #212121 !important;
}

/*
links
*/
.md-nav__link--active, .md-nav__link:active {
    color: #9e9e9e;
}
.md-nav__link--active, .md-nav__link:active {
    color: #9e9e9e;
}

/*
Arrow Left Icon
*/
html .md-nav--primary .md-nav__title:before {
  color: #FAFAFA !important;
}

.md-nav__title {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

/*
Arrow Right Icon
*/
.md-nav--primary .md-nav__link:after {
  color: #FAFAFA !important;
}

.md-nav__list {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__item {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

/*
////////////
// Search //
////////////
*/

.md-search__icon[for=__search][for=__search]:before {
    color: white;
    content: "\E5C4";
}
.md-search__icon[type=reset] {
	color: white;
    top: .3rem;
    right: .5rem;
    -webkit-transform: scale(.125);
    transform: scale(.125);
    transition: opacity .15s,-webkit-transform .15s cubic-bezier(.1,.7,.1,1);
    transition: transform .15s cubic-bezier(.1,.7,.1,1),opacity .15s;
    transition: transform .15s cubic-bezier(.1,.7,.1,1),opacity .15s,-webkit-transform .15s cubic-bezier(.1,.7,.1,1);
    opacity: 0;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__input {
    background-color: rgb(56, 56, 56);
    color: rgb(202,202,202);
    text-overflow: clip;
    border-radius: 0.1rem 0.1rem 0px 0px;
}
.md-search__input {
	color: rgb(202,202,202);
	background-color: #383838;
    position: relative;
    text-overflow: ellipsis;
    z-index: 2;
    padding: 0px 2.2rem 0px 3.6rem;
}

/*
scroll bar

attention:
background is scroll handle color!
*/
.md-search__scrollwrap::-webkit-scrollbar-thumb {
  background-color: rgb(168, 168, 168) !important;
}
/*
scroll bar background color
*/
.md-search__scrollwrap {
  background-color: #383838 !important;
}

/*
Icon color
*/
.md-search-result__article--document:before {
  color: rgb(202, 202, 202) !important;
}

/*
headline color and
result list background
*/
.md-search-result__list {
  color: rgb(202, 202, 202) !important;
  background-color: #212121 !important;
}

/*
result info/count
*/
.md-search-result__meta {
  color: rgb(202, 202, 202);
  background-color: rgb(63, 63, 63) !important;
}
.md-search-result__article--document .md-search-result__title {
    color: rgb(228, 228, 228);
    margin: .55rem 0;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.4;
}

/*
article preview text color
*/
.md-search-result__teaser {
  color: rgb(148, 148, 148) !important;
}

.md-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 2.4rem;
    transition: background-color .25s,color .25s;
    background-color: #3f3f3f;
    color: #fff;
    box-shadow: none;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*
content icons
*/
.md-typeset .md-content__icon {
    color: rgba(255, 255, 255, 0.26);
}
.md-typeset summary:after {
    position: absolute;
    top: .4rem;
    right: .6rem;
    color: rgba(255, 255, 255, 0.438);
    font-size: 1rem;
    content: "\E313";
}
.md-clipboard:before {
    transition: color .25s,opacity .25s;
    color: rgba(255, 255, 255, 0.486);
    content: "\E14D";
}

/*
////////////
//  Code  //
////////////
*/
.md-typeset h1 code, .md-typeset h2 code, .md-typeset h3 code, .md-typeset h4 code, .md-typeset h5 code, .md-typeset h6 code {
    margin: 0;
    color: white;
    background-color: #ffffff00;
    box-shadow: none;
}
.md-typeset code {
	background-color: #383838;
	color:white;
    margin: 0 .29412em;
    padding: .07353em 0;
    border-radius: .1rem;
    box-shadow: 0.29412em 0 0 hsla(0, 0%, 27%, 0.5), -0.29412em 0 0 hsla(0,0%,27%,.5);
    word-break: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.md-typeset hr {
    margin: 1.5em 0;
    border-bottom: .05rem dotted rgb(185, 185, 185);
}